<footer class="bg-body-tertiary">
    <div class="w-90 mx-auto py-5">
        <h3>Get The FreshCart app</h3>
        <p class="text-secondary">We will send you a link, open it on your phone to download the app.</p>
        <div class="px-3 border-bottom py-4 mx-2">
            <form>
                <div class="d-flex justify-content-between align-items-center">
                    <input type="email" class="form-control w-85" placeholder="Email">
                    <button class="btn bg-main px-4 text-light">Share App Link</button>
                </div>
            </form>
        </div>
        <div class="px-3 border-bottom py-4 mx-2 d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <p class="p-0 m-0">Payment Partners</p>
                <img src="./assets/images/PayPal-Logo.png" alt="" class="w-3">
                <img src="../../assets/images/mastercard_logo.svg__3.png" alt="" class="w-3">
                <img src="./assets/images/PayPal-Logo.png" alt="" class="w-3">
                <img src="../../assets/images/mastercard_logo.svg__3.png" alt="" class="w-3">
            </div>
            <div class="d-flex justify-content-end align-items-center gap-2">
                <p class="p-0 m-0">Get deliveries with FreshCart</p>
                <img src="../../assets/images/PayPal-Logo.png" alt="" class="w-5">
                <img src="../../assets/images/mastercard_logo.svg__3.png" alt="" class="w-5">
            </div> 
        </div>
    </div>
</footer>